*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
app/src/main/java/com/principe/felipe/finango_d1/network/GPTRetrofitClient.kt

/build
/captures
.externalNativeBuild
.cxx
local.properties
